/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 80px;
  width: 100%;
  height: 100vh;
}

/* Left Side - Hero Text */
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.hero-info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.highlight {
  color: rgb(27, 98, 230);
}

.hero-info p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

/* Button Styling */
.get-started-button {
  background: linear-gradient(30deg, rgb(27, 98, 230), cornflowerblue);
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.get-started-button:hover {
  opacity: 0.9;
}

.loginlink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Right Side - Hero Image */
.hero-img {
  max-width: 50%;
}

.collab-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .hero-info, .hero-img {
    max-width: 100%;
  }

  .collab-image {
    max-width: 80%;
    margin-top: 20px;
  }
}
